{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="span16">
            <h1>Create new article</h1>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <form action="{{ request.path }}" method="post">
                <fieldset>
                    <div class="clearfix{% if form.title.errors %} error{% endif %}">
                        <label for="title">Title</label>

                        <div class="input">
                            <input name="title" class="xlarge" size="30">

                            {% if form.title.errors %}
                                <ul class="errors">{% for error in form.title.errors %}<li class="help-inline">{{ error }}</li>{% endfor %}</ul>
                            {% endif %}
                        </div>

                    </div>
                    <div class="clearfix{% if form.title.errors %} error{% endif %}">
                        <label for="content">Content</label>

                        <div class="input">
                            <textarea name="content" class="xxlarge" rows="8"></textarea>

                            {% if form.title.errors %}
                                <ul class="errors">{% for error in form.title.errors %}<li class="help-inline">{{ error }}</li>{% endfor %}</ul>
                            {% endif %}
                        </div>

                    </div>
                    <div class="actions">
                        <input class="btn primary" value="Save" type="submit">
                    </div>

                </fieldset>
            </form>
        </div>
        <div class="span4">
            <h3>Latest articles</h3>
            <ul>
            {% for article in articles %}
                <li>
                    <a href="{{ url_for("frontend.show_article", id=article.id) }}">{{ article.title }}</a> at {{ article.created_at }}
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}