{% extends "base.html" %}

{% macro display_target_movie(recommendation, source_movie) %}
    {% if recommendation.movies[0].id == source_movie.id %}
        {% set source, target = recommendation.movies[0], recommendation.movies[1] %}
    {% else %}
        {% set source, target = recommendation.movies[1], recommendation.movies[0] %}
    {% endif %}

    <div style="border-bottom: solid 1px #e4e4e4; padding: 5px 0 5px 0;">
        <div class="row">
            <div class="span2">
                {% if target.image_url %}
                    <img src="{{ target.image_url }}" alt="" style="width: 100px; display: block;">
                {% else %}
                    <div style="width: 100px; background: #e4e4e4;">
                        <div style=" border: 1px solid #ccc; height: 156px;">

                        </div>
                    </div>
                {% endif %}
            </div>
            <div class="span11">
                <h3>{{ target.title }}</h3>

                <p>
                    <a href="#">{{ recommendation.author.full_name }}</a>{% if not recommendation.upvotes_count==0 %}
                    and {{ recommendation.upvotes_count }} other{% endif %} gave a match of {{ recommendation.rating }}%
                    to suggest that you also should see <a
                        href="{{ url_for("frontend.show_movie", id=target.id) }}">{{ target.title }}</a> if you
                    liked {{ source.title }} because:
                </p>
                <blockquote>
                    <p>
                        {{ recommendation.body }}
                    </p>
                </blockquote>

                <div>
                    <a href="{{ url_for("frontend.show_movie", id=target.id) }}">Read about {{ target.title }}</a> | <a
                        href="{{ url_for("frontend.show_recommendation", id=recommendation.id) }}">Read all
                    motivations</a>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

{% block content %}
    <div class="row">
        <div class="span3">
            {% if movie.image_url %}
                <img src="{{ movie.image_url }}" alt="" style="width: 160px; display: block;">
            {% else %}
                <div style="width: 160px; background: #e4e4e4;">
                    <div style=" border: 1px solid #ccc; height: 256px;">
                    </div>
                </div>
            {% endif %}
        </div>

        <div class="span13">
            {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
              <div class="span13">
                {% for category, message in messages %}
                  <div class="alert-message {{ category }}"><p>{{ message }}</p></li>
                {% endfor %}
                </div>
              {% endif %}
            {% endwith %}
            <div class="span13">
                <h1 style="margin-bottom: 5px;">{{ movie.title }}</h1>

                <p>
                    {{ movie.description }}
                </p>
            </div>
            <div class="span13">
                <div id="before_new_recommendation" style="display: none; padding-bottom: 10px;">
                    <button id="before_new_recommendation_btn" class="btn large primary">Add new recommendation</button>
                </div>

                <form id="new_recommendation" action="/movies/{{ movie.id }}/" method="post"
                      class="form-stacked">
                    <fieldset>
                        <legend>Add recommendation</legend>
                        {% if form.errors %}
                        <div class="alert-message block-message error">
                            <ul class="errors">
                                {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                                    {% for error in field_errors %}
                                        <li>{{ form[field_name].name }}: {{ error }}</li>
                                    {% endfor %}
                                {% endfor %}
                            </ul>
                        </div>
                        {% endif %}

                        <div class="clearfix{% if form.target_id.errors %} error{% endif %}">
                            <div>
                                {{ form.target_id(class_="xlarge", placeholder="Select a movie by id") }}

                                <button id="find_movie" data-controls-modal="find-movie-modal"
                                        data-backdrop="true" data-keyboard="true" class="btn medium primary">Find movie
                                </button>
                            </div>
                        </div>
                        <div class="clearfix{% if form.reason.errors %} error{% endif %}">
                            <div class="input">
                                {{ form.reason(class_="xxlarge", placeholder="Motivate why you suggest the recommendation", rows="6") }}
                            </div>
                        </div>
                        <div class="clearfix{% if form.rating.errors %} error{% endif %}">
                            <label for="rating">Match %</label>

                            <div class="input">
                                <input type="range" id="rating" name="rating" class="xxlarge"
                                       placeholder="Add new rating" min="0" max="100" value="{{ form.rating.data }}">
                            </div>
                        </div>
                        <div class="actions">
                            <button class="btn primary" value="save" type="submit">Add</button>
                            <button class="btn" type="reset">Cancel</button>
                        </div>
                    </fieldset>
                </form>
            </div>

            <div class="span13">

                {% for recommendation in recommendations %}
                    {{ display_target_movie(recommendation, movie) }}
                {% endfor %}

            </div>
        </div>
    </div>
    <div id="find-movie-modal" class="modal hide fade">
        <div class="modal-header">
            <a href="#" class="close">&times;</a>

            <h3>Select a movie</h3>
        </div>
        <div class="modal-body">
            <ul class="inputs-list" style="max-height: 200px; overflow: auto;">
            </ul>
        </div>
        <div class="modal-footer">
            <a href="#" id="select-movie-btn" class="btn primary">Use movie</a>
            <a href="#" id="cancel-movie-btn" class="btn secondary">Cancel</a>
        </div>
    </div>
{% endblock %}

{% block ending %}
    <script type="text/javascript">
        $(document).ready(function () {
            /* progressive enhancement :) */
            {% if not form.errors %}
                $("#new_recommendation").hide();
                $("#before_new_recommendation").show();
            {% endif %}
        });

        $("#before_new_recommendation_btn").click(function () {
            $("#before_new_recommendation").hide();
            $("#new_recommendation").show();
        });

        $("#select-movie-btn").click(function () {
            $("#target_id").val($("input[name='selected_movie_id']:checked").val());

            $("#find-movie-modal").modal("hide");
        })

        $("#find-movie-modal").bind("show", function () {
            $.getJSON("/_/movies/all/",
                    function (data) {
                        $(".inputs-list").text("");
                        $.each(data, function (i, item) {
                            output = "<li style=\"padding: 4px 0 4px 0; border-bottom: solid 1px #e4e4e4;\"><label>";
                            output += "<input type=\"radio\" name=\"selected_movie_id\" value=\"" + item.id + "\">";
                            output += "<span>" + item.title + " (" + item.id + ")</span>";
                            output += "</label></li>";
                            $(".inputs-list").append(output);
                        })
                    }
            )
        })
    </script>
{% endblock %}